.botao{
    width: 4%;
    height: 2%;
    background-color: aliceblue;
}

.botaoo{
    width: 4%;
    height: 2%;
    background-color: green;
}

.conta{
    width: 4%;
    height: 2%;
    background-color: blue;
}

.reiniciar{
    width: 4%;
    height: 2%;
    background-color: red;
}